body{
   margin: 0;
   background: linear-gradient(-70deg, #222 70%, #444 30%);
   font-family: 'Work Sans', sans-serif;
   font-weight: 400;
}

.navbar{
    width: 80%;
    margin: 0 auto;
}
 header{
     background:#55d6aa ;
     border-bottom-left-radius: 100%;
 }

 header ::after{
     content: '';
     display: table;
     clear: both;
 }

 nav{
     float: right;
    
 }

 nav ul{
     margin: 0;
     padding: 0;
     list-style: none;
 }

 nav li{
     display: inline-block;
     margin: 10px 30px;
     line-height: 55px;
     position: relative;
 }

 nav a{
     color: #444;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 16px;
 }

 nav a:hover{
     color: #000;
 }

 nav a::before{
     content: '';
     display: block;
     height: 5px;
     width: 0%;
     background-color: #444;
     top: 0;
     transition: all ease-in-out 250ms;
 }

 nav a:hover::before{
     width: 100%;

 }

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border: solid 10px #444;
    border-radius: 120px;
}

.tagline{
   text-align: center;
   color: white;
   line-height: 7vh;
   font-size: 17px;
   font-family: 'Work Sans', sans-serif;
}

h1{
   text-align: center;
   color: white;
   font-weight: 600;
   font-size: 35px;
   font-family: 'Josefin Sans', sans-serif;
}

.quote{
    text-align: center;
   color: white;
   font-size: 27px;
   font-weight: 400;
   font-family: 'Qwigley', cursive;
}

button{
    display: block;
    margin-left: auto;
    margin-right: auto;
   background:#e74c3c;
   border:15px #e74c3c ;
   border-radius: 20px;
   padding: 5px 20px 5px 20px;
   font-family: 'Lobster', cursive;
   color: #1B2631;
   font-size: 17px;
   font-weight: 400;
}