

body{
	background-color: black ;
}

img {
	width: 600px;
	height: 600px; 
	padding: 0;
	margin:0;   
}

.header { 
font-family: sans-serif; 
text-align: center;
font-size: 60px;
color: white;
padding: 300px 300px 200px 300px;
margin: 0;
}

.github_icon{
	width: 50px;
	height: 50px;
	padding-left: 550px;
	padding-bottom: 50px;
	margin:0;   

}
.Linkedin_icon{
	width: 50px;
	height: 50px;
	padding-bottom: 50px;
	margin:0;   

}
.mail_icon{
	width: 50px;
	height: 50px;
	padding-bottom: 50px;
	margin:0;   

}
.Twitter_icon{
	width: 50px;
	height: 50px;
	padding-bottom: 50px;
	margin:0;   

}

p{
	background-color: white;
	width: 500px;
	height: 500px;    
	font-family: courier;
	font-size: 30px;
}
